Mono.Reactive.Testing/Mono.Reactive.Testing.pidb
Mono.Reactive.Testing/bin/
Mono.Reactive.Testing/obj/
System.Reactive.Core/System.Reactive.Core.pidb
System.Reactive.Core/bin/
System.Reactive.Core/obj/
System.Reactive.Interfaces/System.Reactive.Interfaces.pidb
System.Reactive.Interfaces/bin/
System.Reactive.Interfaces/obj/
System.Reactive.Linq/System.Reactive.Linq.pidb
System.Reactive.Linq/bin/
System.Reactive.Linq/obj/
System.Reactive.PlatformServices/System.Reactive.PlatformServices.pidb
System.Reactive.PlatformServices/bin/
System.Reactive.PlatformServices/obj/
System.Reactive.Tests/System.Reactive.Tests.pidb
System.Reactive.Tests/bin/
System.Reactive.Tests/obj/
System.Reactive.Tests/test-results/
System.Reactive/System.Reactive.Android.pidb
System.Reactive/System.Reactive.Linq/gen/gen-code.exe
System.Reactive/System.Reactive.pidb
System.Reactive/bin/
System.Reactive/obj/
TestResult.xml
mono-reactive.userprefs
mono-reactive2.userprefs


